## Query languages in Nigeria from “World_x” MySQL Database

In [51]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

## Step 1

Create an SQLAlchemy engine for a MySQL database, and enter the appropriate credentials, which includes user, password, database and host

In [52]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Grace@2705",
                               db="world_x"))

## Step 2

Read the “country” and the “countrylanguage” tables. You can do this with the Pandas.read_sql or read_sql_table method. You expected to generate two pandas DataFrame from this, and you can provide any name for them.

In [53]:
countrydf = pd.read_sql('country', con= engine)

In [54]:
languagedf = pd.read_sql('countrylanguage', con= engine)

## Step 3

Rename the “CountryCode” column in the DataFrame generated from the “Countrylanguage” table. The new column name is “Code”. Hint: Use the Pandas.rename() method for this.

In [55]:
languagedf = languagedf.rename(columns={'CountryCode':'Code' })

In [56]:
countrydf.head()

  Code         Name  Capital Code2
0  ABW        Aruba    129.0    AW
1  AFG  Afghanistan      1.0    AF
2  AGO       Angola     56.0    AO
3  AIA     Anguilla     62.0    AI
4  ALB      Albania     34.0    AL

In [57]:
languagedf.head()

  Code    Language IsOfficial  Percentage
0  ABW       Dutch          T         5.3
1  ABW     English          F         9.5
2  ABW  Papiamento          F        76.7
3  ABW     Spanish          F         7.4
4  AFG     Balochi          F         0.9

## Step 4

In this step, you are expected to perform a LEFT JOIN by joining the “country” table to “countrylanguage”. You will perform this step using the Pandas method of combining data on a common column which is “Code”. Save your result to a DataFrame named “df_country”

In [58]:
df_country = pd.merge(countrydf, languagedf, on='Code',how='left')

In [59]:
df_country.head()

  Code         Name  Capital Code2    Language IsOfficial  Percentage
0  ABW        Aruba    129.0    AW       Dutch          T         5.3
1  ABW        Aruba    129.0    AW     English          F         9.5
2  ABW        Aruba    129.0    AW  Papiamento          F        76.7
3  ABW        Aruba    129.0    AW     Spanish          F         7.4
4  AFG  Afghanistan      1.0    AF     Balochi          F         0.9

## Step 5

From the results above, you will filter the DataFrame(df_country) to return another DataFrame where the “Code” column is “NGA” and the “Name” column is “Nigeria”. In essence, you are to generate a table for the country Nigeria. You can name this DataFrame “df_Nigeria”

In [60]:
df_Nigeria = df_country[(df_country['Code']=='NGA')& (df_country['Name']=='Nigeria')]

In [61]:
df_Nigeria

    Code     Name  Capital Code2 Language IsOfficial  Percentage
646  NGA  Nigeria   2754.0    NG     Bura          F         1.6
647  NGA  Nigeria   2754.0    NG      Edo          F         3.3
648  NGA  Nigeria   2754.0    NG      Ful          F        11.3
649  NGA  Nigeria   2754.0    NG    Hausa          F        21.1
650  NGA  Nigeria   2754.0    NG   Ibibio          F         5.6
651  NGA  Nigeria   2754.0    NG      Ibo          F        18.1
652  NGA  Nigeria   2754.0    NG      Ijo          F         1.8
653  NGA  Nigeria   2754.0    NG   Joruba          F        21.4
654  NGA  Nigeria   2754.0    NG   Kanuri          F         4.1
655  NGA  Nigeria   2754.0    NG      Tiv          F         2.3

## Step 6

To test the methods above, perform a similar LEFT JOIN by writing an SQL query(not Pandas method) and save to a variable. Using the Pandas.read_sql method, read the query from the database to perform and generate results for the join procedure. Save the result to another DataFrame name e.g df_Nigeria_SQL Note: Use SELECT * when writing the query so as to generate columns that are similar to previous steps. Also remember to drop the “countrycode” column

In [62]:
query = '''SELECT *
FROM country
LEFT JOIN countrylanguage
ON country.Code = countrylanguage.CountryCode
where country.Code = 'NGA';
'''
df_Nigeria_SQL = pd.read_sql(query, con=engine)

## Step 7

Use the shape attribute to check the shape of both DataFrames(df_Nigeria & df_Nigeria_SQL). The result should be the same for both DataFrames. You can write a conditional statement to check if both shapes are equal. Ensure that you don’t have “countrycode” column in your test DataFram

In [63]:
df_Nigeria_SQL = df_Nigeria_SQL.drop('CountryCode', axis = 1)
df_Nigeria_SQL.shape

(10, 7)

In [64]:
df_Nigeria.shape
df_Nigeria_SQL.shape == df_Nigeria.shape

True

## Step 8

Using the DataFrame.to_sql method, save the results of “df_Nigeria” to a new table(you can provide any name e.g “nigerialanguage” to the database. Provide a screenshot to show that your procedure ran successfully.

In [65]:
df_Nigeria.to_sql('nigerialang', con=engine, index=False)

ValueError: Table 'nigerialang' already exists.